.list-item {
    font-size: 12px;
    color: 'grey';
    font-weight: 600;
}
.sub-list-main-title {
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}
.link-item {
    font-size: 12px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

